.user-input{
    width: 300px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0.5em 0;
    border: 1px solid black;
    /* background-color: #f2f2f2; */
    background-color: rgba(119, 119, 119, 0.342);
    color: white;
}
.repo-container{
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}
.pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* background-color: #fff; */
    border-radius: 0.5em;
    list-style: none;
}
.page-item{
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: black;
    border: 1px solid rgb(25, 28, 29);
    margin: 0.5em;
    color: #fff;
    cursor: pointer;
    padding: 0.4em 0.8em;
    font-size: 1.2em;
}
.active {
    background-color: #fff;
    color: #4a8cb8;
    border: 1px solid #4a8cb8;
}
